*{
	margin:0px;
	padding:0px;
}
.header{
	height:1000px;
	width:1000px;
	background:linear-gradiant(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(sk.jpg);
	background-position:center;
	background-size:cover;
	color:white;
}
nav{
display:inline;
padding:20px;	
	
}
